/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: "Monserrat", sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.float{
    float: left;
}
/* HEADER */
.header-main{
    height: 100px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* MAIN */
main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #141922;
    overflow: hidden;
}

/* NAV */
nav{
    height: 100%;
    width: 200px;
    padding: 0 1em;
    position: relative;
    color: gray;
    background-color: black;  
}
.top-sidebar{
    height: calc(100% - 85px);
    min-height: 350px;
}
.logo{
    width: 150px;
    height: 100px;
}
nav ul{
    line-height: 2em;
}
nav img{
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
nav a{
  color: inherit;  
}
.top-nav li a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.playlist{
    overflow: hidden;
}
.playlist h2{
    color: white;
    font-size: 1em;
    margin-top: 1em;
}
.playlist h3{
    display: inline-block;
    font-size: 1em;
}
.playlist ul li{
    height: 70%;
    overflow-y: auto;
}
.bottom-nav{
    height: 80px;
}
.bottom-nav li a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divider{
    border-top: 2px solid gray;
    width: 100%;
    margin: 0.5em 0;
}
.profile{
    background-color: grey;
    border-radius: 50%;
}
.bottom-nav li:last-child{
    color: white;
}
/* MAIN-CONTENT */
.main-content{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: scroll;
}
.logo-main{
    height: 100px;
    background-color: #080B12;
    text-align: end;
    padding-right: 1em;
}
.accesso{
    color: white;
    border: 2px white solid;
    padding: 0.8em 1.8em;
    border-radius: 50px;
    line-height: 100px;
}
/* NAV-MAIN */
.nav-main{
    padding: 25px 0;
    text-align: center; 
}
.nav-main ul li{
    display: inline-block;
}
.nav-main a{
    color: grey;
    padding-right: 1em;
}
/* RECENTLY PLAYED */
.played{
    padding: 0 1em;
    margin-bottom: 1.5em;
}
.played h1{
    font-size: 1.5em;
    margin-bottom: 0.8em;
}
.album{
    width: 15%;
    text-align: center;
    margin-right: 1.5%;
}
.album img{
    display: block;
    width: 100%;
}
.album h3{
    font-size: 0.8em;
    padding: 0.5em 0;
}
.album p{
    font-size: 0.8em;
    color: grey;
}
/* CREATO PER */
.creato-per{
    width: 100%;
    padding: 0 1em;
    margin-bottom: 1.5em;
}
.creato-per p{
    margin: 0.8em 0;
    color: grey;
}

/* ARTISTI POPOLARI */

.artisti-popolari{
    width: 100%;
}
.artisti-popolari img{
    border-radius: 50%;
}
/* FOOTER */
footer{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(40, 40, 40);
}
.foot-left{
    width: 20%;
}
