/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: "Monserrat", sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.float{
    float: left;
}
/* HEADER */
.header-main{
    height: 100px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* MAIN */
main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #141922;
    overflow: hidden;
}

/* NAV */
nav{
    height: 100%;
    width: 200px;
    padding: 0 1em;
    position: relative;
    color: gray;
    background-color: black;  
}
/* TOP-SIDEBAR */
.top-sidebar{
    height: calc(100% - 85px);
    min-height: 350px;
}
.logo{
    width: 150px;
    height: 100px;
}
.logo-small{
    display: none;
}
nav ul{
    line-height: 2em;
}
nav img{
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
nav a{
  color: inherit;  
}
.top-nav li a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-nav li a:hover{
    color: white;
}
.playlist{
    overflow: hidden;
}
.playlist h2{
    color: white;
    font-size: 1em;
    margin: 1em 0;
}
.create-playlist{
    display: flex;
    align-items: center;
}
.plus{
    color: #080B12;
    background-color: grey;
    padding: 3px 8px;
    margin-right: 5%;
}
.playlist h3{
    display: inline-block;
    font-size: 1em;
}
.playlist ul li{
    height: 70%;
    overflow-y: auto;
}
.playlist ul li:hover{
    color: white;
}
/* BOTTOM-NAV */
.bottom-nav{
    height: 80px;
}
.bottom-nav li a{
    display: flex;
    align-items: center;
}
.divider{
    border-top: 2px solid gray;
    width: 100%;
    margin: 0.5em 0;
}
.profile{
    background-color: grey;
    border-radius: 50%;
}
.bottom-nav li:last-child{
    color: white;
}

/* MAIN-CONTENT */
.main-content{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: scroll;
}
.logo-main{
    height: 100px;
    background-color: #080B12;
    text-align: end;
    padding-right: 1em;
}
.accesso{
    color: white;
    border: 2px white solid;
    padding: 0.8em 1.8em;
    border-radius: 50px;
    line-height: 100px;
}
.accesso:hover{
    font-size: 1.1em;
}

/* NAV-MAIN */
.nav-main{
    margin: 25px 0;
    text-align: center; 
}
.nav-main ul li{
    display: inline-block;
}
.nav-main a{
    color: grey;
    padding-right: 1em;
}
.nav-main a:hover{
    color: white;
}

/* RECENTLY PLAYED */
.played{
    padding: 0 1em;
    margin-bottom: 1.5em;
}
.played h1{
    font-size: 1.5em;
    margin-bottom: 0.8em;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.album{
    width: calc(100%/6 - 20px);
    text-align: center;
    margin: 0 10px;
}
.album div{
    position: relative;
}
.album i{
    position: absolute;
    font-size: 2em;
    top: 50%;
    transform: translate(-50%, -50%);
}
.album img{
    display: block;
    width: 100%;
}
.album h3 a{
    color: white;
    font-size: 0.8em;
    padding: 0.5em 0;
}
.album p{
    font-size: 0.8em;
    color: grey;
}
/* CREATO PER */
.creato-per{
    display: inline-block;
    width: 100%;
    padding: 0 1em;
    margin-bottom: 1.5em;
}
.creato-per p{
    margin: 0.8em 0;
    color: grey;
}

/* ARTISTI POPOLARI */
.artisti-popolari{
    display: inline-block;
    width: 100%;
    padding: 0 1em;
    margin-bottom: 2em;
}
.artisti-popolari img{
    border-radius: 50%;
}
.artisti-popolari p{
    margin: 0.8em 0;
    color: grey;
}
/* FOOTER */
footer{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(40, 40, 40);
    display: flex;
}
/* FOOTER-LEFT */
.foot-left{
    height: 70%;
    width: 250px;
    display: flex;
    align-self: center;
    align-items: center;
}
.foot-left img{
    height: 100%;
    padding: 0 1em;
}
.foot-left h3{
    font-size: 0.8em;
}    
.foot-left span{
    font-size: 0.8em;
    color: grey;
}
.foot-left a{
    color: grey;
}
.fa-heart{
    margin-left: 25px;
    margin-right: 10px;
}
.foot-left a:hover{
    color: rgb(255, 255, 255);
}
/* FOOTER-CENTER */
.foot-center{
    height: 100%;
    flex-grow: 1;
}
.icons-track{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.icons-track i{
    margin: 0 2%;
}
.fa-play-circle{
    font-size: 1.5em;
}
.fa-play-circle:hover{
    font-size: 1.8em;
}
.foot-center span{
    font-size: 0.8em;
    padding: 0 20px;
}
.minutes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.bar{
    position: relative;
    height: 4px;
    border-radius: 50px;
    background-color: grey;
    border-color: grey;
}
.bar:hover .bar-circle{
    display: block;
}
.perc{
    height: 4px;
    width: 24%;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.bar:hover .perc{
    background-color: lightgreen;
}
.track{
    width: 60%;
}
.bar-circle{
    display: none;
    position: absolute;
    top: -3px;
    left: 22%;
    height: 12px;
    width: 12px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
}
/* FOOTER-RIGHT */
.foot-right{
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.volume{
    width: 50%;
}

/* MEDIA-QUERY */
/* media query medium */
@media screen and (max-width: 1009px){
    .main-content{
        width: calc(100% - 200px);
    }
    .album{
        width: calc(100%/4 - 20px);
    }
}

/* media query small */
@media screen and (max-width: 699px){
    .main-content{
        width: calc(100% - 200px);
    }
    .album{
        width: calc(100%/2 - 20px);
    }
}

/* media query xs nav */
@media screen and (max-width: 600px){
    nav{
        width: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 1em;
    }
    nav span{
        display: none;
    }
    .top-nav li{
        margin-bottom: 1em;
    }
    .playlist{
        display: none;
    }
    .bottom-nav{
        justify-content: center;
    }
    .bottom-nav img{
        margin-bottom: 1em;
    }
    .divider{
        display: none;
    }
}
/* media query xs main */
@media screen and (max-width: 600px){
    .main-content{
        width: calc(100% - 50px);
    }
    .album{
        width: calc(100%/2 - 20px);
    }
}
/* media query xs footer */
@media screen and (max-width: 600px){
    .foot-left{
        width: 150px;
    }
    .foot-left a i{
        display: block;
        margin: 0;
        padding-left: 10px;
        
    }
    .foot-center{
        margin: 0 10px;
    }
    .foot-right{
        width: 150px;
    }
}