/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: "Monserrat", sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* HEADER */
header{
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 12%;
    margin-left: 1em;
}
header a{
    border: 2px white solid;
    padding: 0.8em 1.8em;
    border-radius: 50px;
    margin-right: 10px;
}

/* NAV */
nav{
    height: calc(100% - 80px);
    width: 20%;
    padding-top: 100px;
    color: gray;
    background-color: black;
}
nav ul{
    margin: 0 1em;
}
nav img{
    width: 20px;
}
nav a{
  color: inherit;  
}
.arrow{
    display: inline-block;
    height: 18px;
    width: 18px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding:
}
.divider{
    border-top: 2px solid gray;
}
.profile{
    background-color: grey;
}
 /* MAIN */
 main{
     height: calc(100% - 80px);
     width: 100%;
 }


/* FOOTER */
footer{
    height: 80px;
    width: 100%;
    position: fixed;
    /* background-color: rgb(71, 80, 88); */
}